<!--Product Information Heading Start-->
<div class="container-fluid" >
  <div class="row" id="product_header">
      <div class="col-sm-12">
              <label>Product Information</label>
      </div> 
  </div>
</div>
<!--Product Information Heading End-->
<div class="container-fluid" id="content">
  <!-- Grid row -->
  <div class="product" >
<div class="mb-3 para">
  <img src="assets/img/gallery/1.jpg" class="images" />
  <h3>Service-1</h3><br>
  <ul>
    <li>Application Development & Maintenance (ADM)</li>
    <li>Application Testing</li>
    <li>Business Analysis</li>
    <li>Business Intelligence, Data Warehousing & Analytics</li>
    <li>Systems Architecture & Planning</li>
  </ul>
</div>
<div class="mb-3 para">
  <img src="assets/img/gallery/1.jpg" class="images" />
  <h3>Service-1</h3><br>
  <ul>
    <li>Project / Program Management</li>
    <li>Quality Assurance & Porting</li>
    <li>Relational Database Design & Development</li>
    <li>Mobile Applications</li>
    <li>Social Media</li>
    <li>Software as a Service (SaaS)</li>
  </ul>
</div>
<div class="mb-3 para">
  <img src="assets/img/gallery/1.jpg" class="images" />
  <h3>Service-1</h3><br>
  <ul>
    <li>Virtual CIO</li>
    <li>Business Intelligence, Data warehousing</li>
    <li>Cloud Computing</li>
    <li>ERP Implementation, Maintenance & Support</li>
    <li>Infrastructure Support & Management</li>
  </ul>
</div>
<div class="mb-3 para">
  <img src="assets/img/gallery/1.jpg" class="images" />
  <h3>Service-1</h3><br>
  <ul>
    <li>Systems & Application Integration</li>
    <li>Web Application & Content Management</li>
    <li>Web Design & Development</li>
  </ul>
</div>
  </div>    
</div>