<div class="container-fluid">
  <div class="row">
   

    <div class="col-sm-12" id="Policies_header">
      <img src="assets/img/10.gif">
    </div>

    <div class="col-sm-12" id="Policies_header1"><br><br>
      <h3>  Our employee handbook is a document that communicates company’s<br> mission, policies and expectations.</h3>
      </div>


      <div class="col-sm-12" id="Policies_header2"><br><br>
          <div class="row">
              <div  class="col-sm-3" id="page1"><h5><br><br>SISPL employee_handbook </h5><br>
                <button class="btn "  value="SISPL" ><a href="SISPL employee_handbook 1.3.1-2.pdf"  id="pdf_link" target="_blank" type="application/pdf">view pdf</a></button>
              </div>
    
              <div  class="col-sm-3"  id="page1"><h5><br><br>SISPL employee_handbook </h5><br>
                <button class="btn"  value="SISPL" ><a href="SISPL employee_handbook 1.3.1-2.pdf"  id="pdf_link" target="_blank" type="application/pdf">view pdf</a></button>
              </div>
              
    
              <div  class="col-sm-3"  id="page1"><h5><br><br>SISPL employee_handbook </h5><br>
                <button class="btn"  value="SISPL" ><a href="SISPL employee_handbook 1.3.1-2.pdf"  id="pdf_link" target="_blank" type="application/pdf">view pdf</a></button>
              </div>
          </div>
          </div>

      
    
        
</div>
</div>
