<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12" id="page_job" >
              <h1><br><br><br><br><br>Job Posting</h1>
      </div><br><br>
      <div class="col-md-12"  id="jobpost_admin">
          <div class="row">
              
              <div class="col-md-8" >
                  <form action="#" class="p-4 mb-3 bg-white">
               
              
 
               <div class="row form-group">
                 <div class="col-md-12 ">
                   <label class="font-weight-bold" for="fullname">Job Title</label>
                   <input type="text" id="fullname" class="form-control" placeholder="eg. Professional UI/UX Designer">
                 </div>
               </div>

               <div class="row form-group ">
                 <div class="col-md-12 mb-3 ">
                    <label class="font-weight-bold" for="fullname">Company</label>
                   <input type="text" id="fullname" class="form-control" placeholder="eg. sphereinfosolution">
                 </div>
               </div>
 
 
       
 
               <div class="row form-group ">
                 <div class="col-md-12"><h3>Location</h3></div>
                 <div class="col-md-12 ">
                   <input type="text" class="form-control" placeholder="Thane, India
 ">
                 </div>
               </div>
 
               <div class="row form-group">
                 <div class="col-md-12"><h3>Job Description</h3></div>
                 <div class="col-md-12 ">
                   <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
                 </div>
               </div>
 
               <div class="row form-group">
                 <div class="col-md-12">
                   <input type="submit" value="Post" class="btn btn-primary  py-2 px-5">
                 </div>
  
               </div>
 
   
             </form></div>

             <div class="col-md-4"  ><div class="p-4 mb-3 bg-white"> 
                <h3 class="h5 text-black mb-3">Contact Info</h3>
                <p class="mb-0 font-weight-bold">Address</p>
                <p class="mb-4">Sphere Info Solutions (P) Ltd,

                    711, Excellencia, Lodha Supremus I,
                    
                    Road # 22, Wagle Estate, Thane - 400 604.</p>
  
                <p >Phone</p>
                <p ><a href="#">+91 22 2081 3600</a></p>
  
                <p >Email Address</p>
                <p ><a href="#">corporate@sphereinfo.in</a></p>
  
              </div>
              
              <div class="p-4 mb-3 bg-white">
                <h3 >More Info</h3>
                <p>Our Mission
                  To provide cost-effective business solutions, delivering on time through best consultants, utilizing efficient technology, towards our customers, employees, vendors, and society.
                  Our Vision
                  To be a leader in providing IT solutions & services - helping Business Enterprises across the globe to achieve the utmost level of customer satisfaction.</p>
                <p><a href="https://www.sphereinfo.net/about-us" class="btn btn-primary  ">Learn More</a></p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>