<div class="container-fluid" id="employee_profile">
  <div class="row" id="header_emp_profile">
          <div class="col-md-12"  ><br>	<h1>Employee Profile</h1>
          </div>
  </div>
    <br>
  <div class="row">
      <div class="col-md-11" id="directory">
          <div class="row">
              <div class="col-md-5" id="col1" class="col-xs.5"><img src="assets/img/image.jpg"></div>
              <div class="col-md-6" id="col2"class="col-xs.7">
                   
                      <table id="emp_table" class="table-responsive" >
                          <br> <br><tr><b>Contact Information:</b></tr>

                          <tr>
                                <th>Name<br></th>
                                <th >:<br></th>
                                <td>Sphere info solution<br></td>
                                </tr>
                                  
                          <tr>
                                <th>Email<br></th>
                                <th >:</th>
                                <td>Admin@sphereinfo.in</td>
                          </tr>
                          
                          
                          <tr>
                                <th>Contact</th>
                                <th>:</th>
                                <td>25424177517</td>
                          </tr>
                      <br><br>
                      
                          <tr ><th><br><br><b id="cm">Personal Information:<br><br></b></th></tr>
                  
                          <tr>
                              <th>Employee ID<br></th>
                              <th>:</th>
                              <td>546812</td>
                          </tr>
                          
                          <tr>
                              <th>Employee Role<br></th>
                              <th>:</th>
                              <td>Admin</td>
                          </tr>
                          
                          <tr>
                              <th>Employee Address<br></th>
                              <th>:</th>
                              <td>Wagale Estate, Thane</td>
                          </tr>
                          </table>
              </div>
          </div>
      </div>
  </div>
</div>