<!--Gallery Heading Start-->
<div class="container-fluid">
  <div class="row" id="gallery_header">
      <div class="col-sm-12">
              <label>Media Gallery</label>
      </div>
      
  </div>
</div>
<!--Gallery Heading End-->

<!-- Grid row -->
<div class="container">
  <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 d-flex justify-content-center mb-5">
  
      <button type="button" class="btn btn-outline-black waves-effect filter"  data-rel="all">All</button>
      <button type="button" class="btn btn-outline-black waves-effect filter"   data-rel="1">Mountains</button>
      <button type="button" class="btn btn-outline-black waves-effect filter"   data-rel="2">Sea</button>
  
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
          <img class="img-fluid" src="assets/img/gallery/1.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
          <img class="img-fluid" src="assets/img/gallery/2.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
          <img class="img-fluid" src="assets/img/gallery/3.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
          <img class="img-fluid" src="assets/img/gallery/3.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 2">
          <img class="img-fluid" src="assets/img/gallery/4.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-3 pics animation all 1">
          <img class="img-fluid" src="assets/img/gallery/5.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row -->   
</div>