<!--Award Heading Start-->
<div class="container-fluid">
  <div class="row" id="award_header">
      <div class="col-sm-12">
              <label>Awards & Recognition</label>
      </div>
      
  </div>
</div>
<!--Award Heading End-->
<div class="container">
  <!-- Grid row -->
  <div class="award" id="award">
  
      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award2.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award3.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award4.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award5.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award6.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->

       <!-- Grid column -->
       <div class="mb-4 pics">
              <img class="img-fluid" src="assets/img/awards/award8.jpg" alt="Card image cap">
          </div>
          <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-4 pics">
          <img class="img-fluid" src="assets/img/awards/award9.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
  
  </div>
  <!-- Grid row -->   
</div>