<body class="survey.">

  <div>
      <h2 class="h">Employee Survey Form</h2>
  </div>
  <div class="container">
      <form class="bg">
          <div class="form-group">
              <label>01. How meaningful is your work?</label>
              <input type="text" class="form-control">

          </div>
          <div class="form-group">
              <label>02. How challenging is your work?</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>03.Do You Feel That You Maintain A Healthy Balance Between Work And Your Personal Life?</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>04. Do you think our organization supports you in your professional development?</label>
              <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
              <label>05.Do You Feel Like You Have The Opportunity To Improve Your Skills?</label>
              <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
              <label>06.How Satisfactory you are at Work?</label>
              <select class="form-control">
                  <option>--Select--</option>
                  <option>0%</option>
                  <option>25%</option>
                  <option>50%</option>
                  <option>100%</option>
              </select>
          </div>
          <div class="form-check">
              <label>07. Do you feel connected to your coworkers?</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                      YES
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                      NO
                  </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </div>