<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12" id="user_post" >
              <h1><br><br>Find the career you deserve"</h1>
              <p>Your job search starts and ends with us.</p>
           <br><br>
           <br>
       </div>
       <div class="job-search">
         <div class="row">
       
           <div class="col-md-12 " id="search_option">
             
             <form action="#" class="search-job">		<br>
               <div class="row">
                 <div class="col-md-4">
                   <div class="form-group">
                     <div class="form-field">
                       <div class="icon"><span class="icon-briefcase"></span></div>
                       <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer">
                     </div>
                   </div>
                 </div>
             
                 <div class="col-md-4">
                   <div class="form-group">
                     <div class="form-field">
                       <div class="icon"><span class="icon-map-marker"></span></div>
                       <input type="text" class="form-control" placeholder="Location">
                     </div>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div class="form-group">
                     <div class="form-field">
                       <input type="submit" value="Search" class="form-control btn btn-primary">
                     </div>
                   </div>
                 </div>
               </div>
             </form>
             
           </div>
         </div>
       </div>

       <div class="col-md-12" id="job_post_table">

         <table class=" table-striped	">
             <tr>
               <td><h4>Web Designer</h4> <p>Html,Css,JavaScript,Jquery</p></td>
               <th>Thane</th>
             </tr>

             <tr>
                 <td><h4>Php Devloper</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                 <th>Pune</th>
                 
               </tr>

               <tr>
                   <td><h4>Web Designer</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                   <th>Mumbai</th>
                 </tr>


                 <tr>
                     <td><h4>Php Devloper</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                     <th>Pune</th>
                     
                   </tr>

                   <tr>
                       <td><h4>Web Designer</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                       <th>Mumbai</th>
                     </tr>

                     
             <tr>
                 <td><h4>Php Devloper</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                 <th>Pune</th>
                 
               </tr>

               <tr>
                   <td><h4>Web Designer</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                   <th>Mumbai</th>
                 </tr>
                 
                 <tr>
                     <td><h4>Php Devloper</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                     <th>Pune</th>
                     
                   </tr>

                   <tr>
                       <td><h4>Web Designer</h4> <p>Html,Css,JavaScript,Jquery</p></td>
                       <th>Mumbai</th>
                     </tr>

         </table>
       </div>
         
   </div>

      
</div>
